@import "../../node_modules/maplibre-gl/dist/maplibre-gl.css";
@import "maplibre-gl-directions.css";
@import "maplibre-gl-basemaps/lib/basemaps";
@import "../../node_modules/@watergis/maplibre-gl-legend/dist/maplibre-gl-legend.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

/*container*/
body {
  margin: 0;
  padding: 0;
}
/*
/* Appliquer un pointer à tous les éléments */
/*
* {
  cursor: pointer;
}
  */
#menu-btn,
.side-menu,
.collapse-btn,
#summary,
#route-list li,
.list-direction {
  cursor: pointer; /* Changer le curseur en main */
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left : 0;
  right : 0;
  width: 100%;
  height: 100vh;
}

/* Bouton */
#menu-btn {
  position: fixed;
  top: 112px;
  left: 10px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #25487fbf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}
/* Le menu */
.side-menu {
  position: fixed;
  display: flex; 
  flex-direction: column; 
  border-radius: 10px;
  top: 100px;
  bottom: 50px;
  left: -470px; 
  width: 400px; /* Largeur de la side-menu */
  height: 610px;
  background-color: #ffffffd9;
  color: #25487fcc;
  transition: left 0.6s ease; 
  box-shadow: -2px 0 10px -5px rgba(0, 0, 0, 0.6);
  z-index: 2;
  justify-content: flex-start; 
  overflow-y: auto; 
 font-size: 14px;
}
.side-menu.open {
  left: 5px; /* quand le menu est ouvert */
}

/*button span*/
.collapse-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(37, 72, 127, 0.74902);
  width: 36px;
  height: 36px;
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 50;
}
/*Slide show*/
.side-menu h2 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: #25487fcc; 
  font-family: 'Open Sans', sans-serif; /* Correction de l'espace */
  font-size: 24px; 
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
}


.side-menu hr{
  color: #25487fcc;
}
/* Menu visible */
.side-menu.show {
  right: 0;
}
.container {
  position: fixed;
  width: 400px;
  height: 170px;
  border-radius: 10px;
  background-color: #fffffff9;
  padding-bottom: 20px;
  color: #25487fcc;
}

/*instructions on menu-container*/
#summary {
  color: #25487fcc;
  font-size: 16px;
  z-index: 99;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 12.42px 15px 12.45px 0px;
}
.distance-duration {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#distance, #duration {
  font-size: 16px;
}
#info-content{
  padding-top: 235px;
  max-height: auto;

}
/* Style pour le conteneur d'informations */
#informations {
  max-width: 100%; /* Limiter la largeur pour ne pas dépasser la largeur du menu */
  padding: 10px;
  margin-top: -50px; 
}

/* Style pour la liste des itinéraires */
#route-list {
  list-style-type: none;
  padding: 0; 
  color: #000;
}
/* Style pour chaque élément de la liste */
#route-list li {
  background-color: #ffffff; 
  border: 1px solid #ddd; 
  border-radius: 4px;
  margin: 10px 0; 
  padding: 10px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  transition: background-color 0.3s; 
}
#route-list li:hover {
  background-color: #f0f0f0; 
}
.icon {
  width: 24px; 
  height: 24px;
  margin-right: 10px; 
}
.list-direction{
  list-style: none;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 30px;
  border: #000;
  margin-top: 5px;
}
.list-direction i:first-child {
  float: left;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.list-direction .decor:first-child{
  float: left;
}
.list-direction .decor:first-child i{
  width: 30px;
  font-size: 14px;
}

.list-direction .decor:last-child{
  float: right;
}
